// process.executor = 'pbs'
// process.memory = '1 GB'
// process.time = '1:00:00'
// process.cpus = 1
// process.clusterOptions = "-m ae -M isaac.yellan95@gmail.com -o ${HOME}/pbs-output/${PBS_JOBID}.OU"
conda.enabled = true
conda.useMicromamba = true
singularity.enabled = true
singularity.autoMounts = true
report.overwrite = true
// singularity.runOptions = "--bind /bin"
workDir = '/home/hugheslab1/iyellan/TEHMM_proj/analysis/selex_results/work'
// dag{
//     enabled=true
//     overwrite=true
//     verbose=true
// }

profiles{
    local {
        process {
            cpus = 1
            debug = true
            container = null
            executor = 'local'
            memory = '1 GB'
            time = '1:00:00'
        
            withLabel: 'dedupe' {
            memory = '2 GB'
            }

            withLabel: 'merge_reads' {
                memory = '4.5 GB'
            }

            withLabel: 'multithread' {
                memory = '3 GB'
                cpus = 4
            }

            withLabel: 'RUN_BEESEM' {
                memory = '2 GB'
                time = '2:00:00'
            }
            
            withLabel: 'benchmark' {
                memory = '500 MB'
                container = '/home/hugheslab1/iyellan/pwmeval-selex_bash_latest_amd64.sif'
            }
        }
    }
    cluster {
        executor.submitRateLimit = '50/1min'
        executor.queueSize = 999
        process {
            cpus = 1
            debug = true
            container = null
            executor = 'pbs'
            memory = { 4.GB * task.attempt }
            time = '1:00:00'
            maxRetries = 1
            errorStrategy = { task.exitStatus in [125,139] ? 'retry' : 'finish' }

            // clusterOptions = "-j oe -e ${HOME}/pbs-output/${PBS_JOBID}.OU -o ${HOME}/pbs-output/${PBS_JOBID}.OU"
            container = null
        
            withLabel: 'dedupe' {
                memory = { 2.GB * task.attempt }
                cpus = 3
            }

            withLabel: 'multithread' {
                memory = { 2.GB * task.attempt }
                cpus = 4
            }

            withLabel: 'multithread_dimont' {
                memory = { 2.GB * task.attempt }
                cpus = 4
                time = '6:00:00'
            }

            withLabel: 'high_mem'{
                memory = { 5.GB * task.attempt }
                time = '5:00:00'
            }

            withLabel: 'kmer_enr'{
                memory = { 4.GB * task.attempt }
                time = '5:00:00'
            }

            withLabel: 'kmer_enr_multithread'{
                memory = { 5.GB * task.attempt }
                time = '25:00:00'
                cpus = 8
            }

            withLabel: 'RUN_BEESEM' {
                memory = { 2.GB * task.attempt }
                time = '24:00:00'
            }
            
            withLabel: 'benchmark_reads' {
                memory = { 500.MB * task.attempt }
                container = '/home/hugheslab1/iyellan/pwmeval-selex_bash_latest_amd64.sif'
                cpus = 1
            }

            withLabel: 'benchmark_peaks' {
                memory = { 500.MB * task.attempt }
                container = '/home/hugheslab1/iyellan/pwmeval_chipseq_latest_amd64.sif'
                cpus = 1
            }

            withLabel: 'logo' {
                memory = '500 MB'
            }
        }
    }
}// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}



// activate micromamba py27_env if label is RUN_BEESEM
// profile {
//     py27_env {
//         use
//     }
// }