// process.executor = 'pbs'
// process.memory = '1 GB'
// process.time = '1:00:00'
// process.cpus = 1
// process.clusterOptions = "-m ae -M isaac.yellan95@gmail.com -o ${HOME}/pbs-output/${PBS_JOBID}.OU"
conda.enabled = true
conda.useMicromamba = true
singularity.enabled = true
singularity.autoMounts = true
report.overwrite = true
// singularity.runOptions = "--bind /bin"
workDir = '/home/hugheslab1/iyellan/TEHMM_proj/analysis/selex_results/work'

profiles{
    local {
        process {
            cpus = 1
            debug = true
            container = null
            executor = 'local'
            memory = '1 GB'
            time = '1:00:00'
        
            withLabel: 'dedupe' {
            memory = '2 GB'
            }

            withLabel: 'merge_reads' {
                memory = '4.5 GB'
            }

            withLabel: 'multithread' {
                memory = '3 GB'
                cpus = 4
            }

            withLabel: 'RUN_BEESEM' {
                memory = '2 GB'
                time = '2:00:00'
            }
            
            withLabel: 'benchmark' {
                memory = '500 MB'
                container = '/home/hugheslab1/iyellan/pwmeval-selex_bash_latest_amd64.sif'
            }
        }
    }
    cluster {
        executor.submitRateLimit = '50/1min'
        executor.queueSize = 1000
        process {
            cpus = 1
            debug = true
            container = null
            executor = 'pbs'
            memory = '1 GB'
            time = '1:00:00'
            // clusterOptions = "-j oe -e ${HOME}/pbs-output/${PBS_JOBID}.OU -o ${HOME}/pbs-output/${PBS_JOBID}.OU"
            container = null
        
            withLabel: 'dedupe' {
                memory = '2 GB'
                cpus = 3
            }

            withLabel: 'multithread' {
                memory = '3 GB'
                cpus = 4
                errorStrategy = 'retry'
                maxRetries = 3
            }

            withLabel: 'high_mem'{
                memory = '5 GB'
                time = '2:00:00'
            }

            withLabel: 'kmer_enr'{
                memory = '8 GB'
                time = '5:00:00'
                errorStrategy = 'retry'
                maxRetries = 2
            }
            
            withLabel: 'seq_prep'{
                errorStrategy = 'retry'
                maxRetries = 3
            }

            withLabel: 'kmer_enr_multithread'{
                memory = '8 GB'
                time = '25:00:00'
                cpus = 8
            }

            withLabel: 'RUN_BEESEM' {
                memory = '2 GB'
                time = '12:00:00'
            }
            
            withLabel: 'benchmark_reads' {
                memory = '500 MB'
                container = '/home/hugheslab1/iyellan/pwmeval-selex_bash_latest_amd64.sif'
                cpus = 1
                errorStrategy = 'retry'
                maxRetries = 3
            }

            withLabel: 'benchmark_peaks' {
                memory = '500 MB'
                container = '/home/hugheslab1/iyellan/pwmeval_chipseq_latest_amd64.sif'
                cpus = 1
                errorStrategy = 'retry'
                maxRetries = 5
            }

            withLabel: 'logo' {
                memory = '500 MB'
                errorStrategy = 'retry'
                maxRetries = 5

            }
        }
    }
}



// activate micromamba py27_env if label is RUN_BEESEM
// profile {
//     py27_env {
//         use
//     }
// }