// process.executor = 'pbs'
// process.memory = '1 GB'
// process.time = '1:00:00'
// process.cpus = 1
// process.clusterOptions = "-m ae -M isaac.yellan95@gmail.com -o ${HOME}/pbs-output/${PBS_JOBID}.OU"
conda.enabled = true
conda.useMicromamba = true
workDir = '/home/hugheslab1/iyellan/TEHMM_proj/analysis/selex_results/work'

process {
    executor = 'pbs'
    memory = '1 GB'
    time = '1:00:00'
    cpus = 1

    withLabel: 'multithread' {
        executor = 'pbs'
        memory = '3 GB'
        time = '1:00:00'
        cpus = 4
    }

    withLabel: 'RUN_BEESEM' {
        executor = 'pbs'
        memory = '3 GB'
        time = '1:00:00'
        cpus = 1
    }
}

// activate micromamba py27_env if label is RUN_BEESEM
// profile {
//     py27_env {
//         use
//     }
// }